In [141]:
import pandas as pd
import numpy as np
from pandas import read_csv
from sklearn.preprocessing import LabelBinarizer

In [142]:
obj_df = read_csv('data.csv', na_values="?")
print(obj_df.describe())

       Level 2 Level 3       City  State        Country      Continent  \
count    24986   24986      24986  19926          24986          24986
unique       3      32       5208   1486            209              6
top          C       M  Sao Paulo     No  United States  North America
freq     13077    6237        607   2090           9958          11933

       Geneder Practice Attendees    dob
count    24985    24986     24986  24850
unique       3        5         4     75
top       MALE       No        No   1987
freq     15563    15806     16188   2155

In [143]:
obj_df[obj_df.isnull().any(axis=1)].count()

Level 2      5194
Level 3      5194
City         5194
State         134
Country      5194
Continent    5194
Geneder      5193
Practice     5194
Attendees    5194
dob          5058
dtype: int64

In [144]:
#check for null values
obj_df["State"].isnull().sum()
#subtitute value for null
obj_df = obj_df.fillna({"State": "random"})

In [145]:
#check NO and Random
obj_df["State"].value_counts()

random                 5060
No                     2090
CA                     1007
NY                      966
SP                      820
IL                      766
TX                      638
PA                      574
MA                      507
FL                      501
MI                      442
OH                      393
ON                      310
MD                      300
NJ                      292
CX                      268
MO                      245
WA                      222
MN                      220
WI                      217
GA                      216
NC                      216
VA                      212
TN                      179
QC                      177
AZ                      170
CT                      169
RJ                      158
PR                      141
CF                      139
                       ...
Amhara                    1
Osterbro                  1
Norther Ireland           1
Genoa                     1
Potenza                   1
Newcastle Upon Tyne       1
Nagaland                  1
Valencia Centro           1
County Down               1
Port au Prince            1
Gdansk                    1
Granada                   1
Miyazaki-ken              1
Baja California           1
Gyeonggido                1
Graubuenden               1
Uedesheim                 1
Delicias                  1
Rio De Janeiro            1
Bahcelievler              1
Co Dublin                 1
GLD                       1
Metroplitana              1
Kyung-gi do               1
Songpa-Gu                 1
FR                        1
OSUN                      1
Anand                     1
Nj                        1
KwaZulu Natal             1
Name: State, Length: 1487, dtype: int64

In [146]:
obj_df["Geneder"].value_counts()

MALE      15563
FEMALE     9180
No          242
Name: Geneder, dtype: int64

In [58]:
#cleaning level 2
0
obj_df.head()

,Level 2,Level 3,City,State,Country,Continent,Geneder,Practice,Attendees,dob
0,2,M,Philadelphia,PA,United States,North America,MALE,ACADEMIC,No,1948
1,2,M,Prospect,KY,United States,North America,MALE,PRIVATE,No,1959
2,2,M,Philadelphia,PA,United States,North America,MALE,ACADEMIC,No,1948
3,2,M,Syracuse,NY,United States,North America,MALE,ACADEMIC,Yes,1954
4,2,M,Delray Beach,FL,United States,North America,MALE,PRIVATE,Yes,1954

In [60]:
#check for null values  
obj_df["Level 3"].isnull().sum()
#create field as category
obj_df["Level 3"] = obj_df["Level 3"].astype('category')
#substitute categorical values
obj_df["Level 3"] = obj_df["Level 3"].cat.codes
obj_df.head()

In [93]:
#check for null values in gender
obj_df["Geneder"].isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
24956    False
24957    False
24958    False
24959    False
24960    False
24961    False
24962    False
24963    False
24964    False
24965    False
24966    False
24967    False
24968    False
24969    False
24970    False
24971    False
24972    False
24973    False
24974    False
24975    False
24976    False
24977    False
24978    False
24979    False
24980    False
24981    False
24982    False
24983    False
24984    False
24985    False
Name: Geneder, Length: 24986, dtype: bool

In [99]:
cleanup_nums = {"Geneder": {"MALE": 1, "FEMALE": 2,"No":2}}
obj_df=obj_df.replace(cleanup_nums, inplace=True)

In [147]:
obj_df["Attendees"].value_counts()

No        16188
Yes        8796
RGRXVI        1
RG96          1
Name: Attendees, dtype: int64

In [101]:
obj_df.head()

,Level 2,Level 3,City,State,Country,Continent,Geneder,Practice,Attendees,dob
0,2,10,Philadelphia,PA,United States,North America,1.0,ACADEMIC,No,1948
1,2,10,Prospect,KY,United States,North America,1.0,PRIVATE,No,1959
2,2,10,Philadelphia,PA,United States,North America,1.0,ACADEMIC,No,1948
3,2,10,Syracuse,NY,United States,North America,1.0,ACADEMIC,Yes,1954
4,2,10,Delray Beach,FL,United States,North America,1.0,PRIVATE,Yes,1954

In [153]:
obj_df['Attendees'].null()

AttributeError: 'Series' object has no attribute 'null'

In [148]:
df['Attendees'].value_counts()

1    24986
Name: Attendees, dtype: int64

In [109]:
lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(obj_df["Practice"])
asd=pd.DataFrame(lb_results, columns=lb_style.classes_)

In [113]:
obj_df.append(lb_results)

TypeError: cannot concatenate object of type "<type 'numpy.ndarray'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid